.user-sample {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    min-width: 15rem;
}
.user-sample:hover {
    background: #CDE6FB;
}
img.user-sample-pic {
    border-radius: 100%;
    width: 2.5rem;
    height: 2.5rem;
    margin: .25rem;
    flex: 0 0 2.5rem;
}

.user-sample-details {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    padding-left: .5rem;
}

span.user-sample-title {
    /* display: block; */
    font-size: .85rem;
    height: .85rem;
    color: #275884;
    text-transform: capitalize;
}

span.user-sample-name {
    text-transform: capitalize;
}
