.igear-dd {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    z-index: 100;
    min-width: 100%;
    transform-origin: top;
    margin-top: 1px;
    transform: scale3d(1,0,1);
    transform-origin: top;
    transition: transform .2s ease;
    border: 1px solid #ddd;
    background: #fff;
}

.igear-dditem {
    margin: 0;
    padding: 0;
    background: #fff;
    display: block;
}

span.igear-item {
    padding: .25rem;
    display: block;
}

span.igear-item:hover {
    text-decoration: underline;
    background: #CDE6FB;
    cursor: pointer;
}

.igear-selected {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.edit .igear-selected {
    display: none;
}
.edit > .igear-dd {
    transform: scale3d(1,1,1);
}