.igear-input {
    display: inline-block;
    max-width: 100%;
    position: relative;
    margin: 1rem .5rem;
}
.edit.igear-input {
    color: #337ab7;
}
.error.igear-input {
    color: #C72828;
}
.igear-input-field {
    line-height: 1.5rem;
    margin: 0;
    border: none;
    display: block;
    max-width: 100%;
    border: none;
    outline: none;
    padding: .15rem .15rem .15rem 0;
    background: inherit;
    color: #282828;
    min-width: 10rem;
}

.igear-input-label {
    position: absolute;
    left: 0;
    top: 4px;
    line-height: 1.5rem;
    font-size: 1rem;

    pointer-events: none;
    -webkit-user-select: none;
    user-select: none;
}

.float.igear-input-label,
.edit > .igear-input-label {
    top:-1.1rem;
    font-size:.85rem;
}

.edit > .igear-input-label {
    transition-timing-function: ease;
    transition-duration: .2s;
    transition-property: top, font-size;
}

.igear-input-underline 	{
    position: absolute;
    display: block;
    width: 100%;
    background: #757575;
    height: 1px;
}

.igear-input-underline:before,
.igear-input-underline:after {
    content:'';
    height:2px;
    width:0;
    bottom:0;
    position:absolute;
    background:#337ab7;
    transition-timing-function: ease;
    transition-duration: .2s;
    transition-property: width;
}
.error > .igear-input-underline:before,
.error > .igear-input-underline:after {
    transition: none;
    background: #C72828;
    width: 50%;
}
.igear-input-underline:before {
    left:50%;
}
.igear-input-underline:after {
    right:50%;
}

.edit > .igear-input-underline:before,
.edit > .igear-input-underline:after {
    width:50%;
}

.disabled > .igear-input-label {
    color: #ccc;
}
.disabled > .igear-input-underline {
    background: #ccc;
}


.igear-charcounter {
    font-size: .75rem;
    text-align: right;
}


/* Place holder colors */
.igear-input-field::-webkit-input-placeholder { /* Safari, Chrome and Opera */
    color: #282828;
}

.igear-input-field::-moz-placeholder { /* Firefox 19+ */
    color: #282828;
}

.igear-input-field:-ms-input-placeholder { /* IE 10+ */
    color: #282828;
}

.igear-input-field::-ms-input-placeholder { /* Edge */
    color: #282828;
}

.igear-input-field:placeholder-shown { /* Standard one last! */
    color: #282828;
}

.igear-errormsg {
    font-size: .75rem;
}

@keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}