.igear-input {
    display: inline-block;
    position: relative;
}

.igear-input-field {
    line-height: 1.5rem;
    margin: 0;
    border: none;
    display:block;
    border:none;
    outline:none;
    border-bottom:1px solid #757575;
    padding: .25rem;
}

.igear-input-label {
    position: absolute;
    left: .25rem;
    top: 4px;
    line-height: 1.5rem;
    font-size: 1rem;
    transition: 0.2s ease all;
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none;
}

/* active state */
.float.igear-input-label,
.edit > .igear-input-label {
    top:-1.1rem;
    font-size:.85rem;
}

.edit > .igear-input-label {
    color: #337ab7;
}

.igear-input-underline 	{
    position:relative;
    display:block;
    width:100%;
}

.igear-input-underline:before,
.igear-input-underline:after {
    content:'';
    height:2px;
    width:0;
    bottom:1px;
    position:absolute;
    background:#337ab7;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}
.igear-input-underline:before {
    left:50%;
}
.igear-input-underline:after {
    right:50%;
}

/* active state */
.edit > .igear-input-underline:before,
.edit > .igear-input-underline:after {
    width:50%;
}



@keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}